@import '@/media.scss';

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  @include mobile {
    align-items: flex-start;
    & > a {
      font-size: 1.8rem;
      color: var(--darkgray-color);
    }
  }
}
.loginContainer {
  @extend .buttonContainer;
  gap: 1rem;
  @include mobile {
    gap: 0;
    flex-direction: column;
  }
}
.button {
  height: 2.5rem;
  padding: 0.625rem 1.5rem;
  border-radius: 30px;
  &:first-child {
    color: white;
    background-color: var(--main-color);
  }
  &:last-child {
    background-color: var(--gray-color);
  }
  @include mobile {
    padding: 2rem 0;
    height: auto;
    border: none;
    &:first-child {
      color: var(--darkgray-color);
      background-color: transparent;
    }
    &:last-child {
      background-color: transparent;
    }
  }
}
