@import '@/media.scss';

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  @include mobile {
    & > a {
      font-size: 10px;
      zoom: 0.8;
    }
  }
}
.loginContainer {
  @extend .buttonContainer;
  gap: 1rem;
}
.button {
  height: 2.5rem;
  padding: 0.625rem 1.5rem;
  border-radius: 30px;
  &:first-child {
    color: white;
    background-color: var(--main-color);
  }
  &:last-child {
    background-color: var(--gray-color);
  }
}
