@import '@/styles/media.scss';

.container {
  width: 100%;
  font-family: 'Pretendard';
}

.titleWrapper {
  & > h1 {
    font-family: 'NanumSquareAcB';
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  & > p {
    font-size: 1.5rem;
  }
}

.countBoxWrapper {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  @media (max-width: 778px) {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 7rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--darkgray-color);
    & > p {
      font-size: 1.5rem;
    }
    & > strong {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
}

.searchWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 1.8rem;
  & > input {
    width: 25rem;
    height: 3.3rem;
    padding-left: 1.25rem;
    padding-right: 1.5rem;
    border: 1px solid #a9afb3;
    border-radius: 8px;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--darkgray-color);
    &:focus {
      border-color: #4d5256;
      background-color: var(--gray-background);
      outline: none;
    }
    @include mobile {
      width: 17rem;
    }
  }
  & > button {
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    color: white;
    background-color: var(--main-color);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }
}

.resultWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 6rem;
  & thead {
    height: 3.25rem;
    background-color: #fafcf7;
    font-size: 1.2rem;
    border-top: 2px solid #9a9a9a;
  }
  & th,
  & td {
    vertical-align: middle;
  }
  & td {
    border-bottom: 1px solid #ced3d6;
  }
  & td,
  & th {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
  }
  & td:first-child,
  & th:first-child {
    padding-left: 1.5rem;
    padding-right: 0;
  }
}

.resultContent {
  background-color: white;
  border-bottom: 2px solid #9a9a9a;
}
