@import '@/media.scss';

.container {
  width: 100%;
  min-height: 100vh;
}
.swiperContainer {
  width: 100%;
  height: 50rem;
}
.swiperBox {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('@/assets/main/image1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  color: white;
  & > h3 {
    position: absolute;
    right: 10%;
    top: 10%;
    padding-top: 0.8rem;
    border-top: 3px solid white;
    font-size: 2rem;
    font-family: 'Pretendard';
    font-weight: 700;
  }
  & > h1 {
    font-family: 'NanumSquareAcB';
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    & > strong {
      color: var(--main-color);
    }
  }
  & > p {
    text-align: center;
    margin-bottom: 0.5625rem;
    font-family: 'Pretendard';
    font-size: 1.25rem;
    line-height: 1.875rem;
    word-break: break-all;
    white-space: pre-line;
  }
}
.address {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: #4d5256;
  border-radius: 100px;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.section1 {
  display: flex;
  height: 50rem;
  position: relative;
  @include mobile {
    flex-direction: column;
    height: 100rem;
  }
}
.odoiIntro {
  flex: 0.44;
  padding-top: 8.3125rem;
  padding-left: 3rem;
  padding-right: 3rem;
  & > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 7.5rem;
  }
  @include mobile {
    flex: 1;
  }
  @include desktop {
    padding-left: 10.9375rem;
  }
}
.odoiIntro_title {
  margin-bottom: 1.75rem;
  & > h1 {
    font-family: 'NanumSquareAcB';
    font-size: 2rem;
    line-height: 3.125rem;
  }
}
.odoiIntro_buttons {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 10.5rem;
  & > button {
    width: 6.5625rem;
    height: 2.375rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.25rem;
  }
  & > .button_disabled {
    background-color: var(--darkgray-color);
  }
}
.odoiIntro_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 2.875rem;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    font-size: 1.5rem;
    color: var(--main-color);
  }
}
.slideButton {
  & > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:last-child {
      margin-left: 2.5rem;
    }
    & > svg {
      width: 3rem;
      height: 3rem;
    }
  }
}
.odoiTrend {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--gray-color);
  @include mobile {
    height: 50rem;
    border-top: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    // border-left: none;
  }
}
.odoiTrendLast {
  border-right: 1px solid var(--gray-color);
  @include mobile {
    border-right: none;
  }
}
.odoiTrend_text {
  flex-grow: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8.3125rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  padding-bottom: 3.125rem;
  font-size: 1.5rem;
  font-weight: 700;
  & h3 {
    line-height: 2rem;
  }
  & p {
    margin-top: 1.125rem;
    font-size: 1.125rem;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #4d4d4d;
    word-break: break-all;
    white-space: pre-line;
    line-height: 1.5rem;
  }
}
.odoiTrend_image {
  flex-grow: 1;
  object-fit: cover;
}
.sectionSwiper {
  flex: 0.56;
  overflow: hidden;
  @include mobile {
    flex: 1;
    width: 100%;
    height: 50rem;
  }
}

.section2 {
  position: relative;
  width: 100%;
  height: 67.5rem;
  background-color: #f0f0f0;
  padding: 7rem 11rem;
  & > h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 4.375rem;
  }
  & > h1 {
    font-weight: 800;
    font-size: 2rem;
    word-break: break-all;
    line-height: 3.125rem;
    white-space: pre-line;
  }
  @include mobile {
    padding: 3rem 6rem;
  }
}
.communitySwiper {
  margin-top: 7rem;
  max-width: 70vw;
  height: 32.75rem;
}
.odoiCommunity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
  & > h1 {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  & > p {
    line-height: 1.5rem;
    white-space: pre-line;
  }
}
.commuMeta {
  position: absolute;
  left: 1.375rem;
  bottom: 1.125rem;
  font-size: 0.875rem;
  & > p:first-child {
    margin-bottom: 0.375rem;
  }
}
.commuPrevBtn {
  position: absolute;
  top: 60%;
  left: 8vw;
  border: none;
  border-radius: 50%;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  & > svg {
    transform: translate(4px);
  }
  @include mobile {
    left: 5vw;
    & > svg {
      transform: translate(1px, 1px);
    }
  }
}
.commuNextBtn {
  position: absolute;
  top: 60%;
  right: 8vw;
  border: none;
  border-radius: 50%;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @include mobile {
    right: 5vw;
    & > svg {
      transform: translate(-1px, 1px);
    }
  }
}
.outro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32.25rem;
  padding-left: 11rem;
  padding-right: 11rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  & > p {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  & > h1 {
    font-size: 2rem;
    font-weight: 700;
    & > b {
      color: var(--main-color);
    }
  }
  @include mobile {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
