@import '@/media.scss';
.container {
  width: 100%;
  margin: 0 auto;
}
.titleContainer {
  width: 100%;
  height: 22rem;
  background-color: #fafcf7;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  & > h1 {
    font-family: 'NanumSquareAcEB';
    font-size: 2rem;
    line-height: 3.75rem;
    margin-bottom: 1rem;
  }
  & > p {
    font-family: 'NanumSquareAcB';
    font-size: 1.375rem;
    line-height: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
