.container {
  width: 100%;
}
.titleContainer {
  height: 22rem;
  background-color: #fafcf7;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  height: 100%;
  padding: 0 2rem;
  position: relative;
  margin: 0 auto;
  & > h1 {
    font-family: 'NanumSquareAcEB';
    font-size: 2rem;
    line-height: 3.75rem;
    word-break: break-all;
    white-space: pre-line;
    margin-bottom: 1rem;
  }
  & > pre {
    font-family: 'NanumSquareAcB';
    font-size: 1.25rem;
    line-height: 2.25rem;
    word-break: break-all;
    white-space: pre-line;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 50vh;
  padding: 0 2rem;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #9a9a9a;
  border-radius: 3px;
  margin: 1.5rem 0;
}
