.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.625rem;
  width: 100%;
  height: calc(100vh - 77px - 12.375rem);
  & > img {
    width: 7.5rem;
  }
  & > p {
    font-size: 2rem;
    font-family: 'NanumSquareAcB';
    color: var(--darkgray-color);
  }
}
