.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding-left: 2rem;
  padding-right: 2rem;
}
.innerContainer {
  flex-grow: 1;
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.contentContainer {
  display: flex;
  margin: 4rem 0;
  padding-top: 0.65625rem;
  flex-grow: 1;
}

.boundaryLine {
  width: 1px;
  background-color: #d9d9d9;
}
