.pagination {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 7.5rem;
}

.pageButton {
  width: 2.75rem;
  height: 2.75rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  font-family: 'Pretendard';
  font-size: 1.25rem;
  color: #4d5256;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    color: var(--darkgray-color);
  }
  &:disabled {
    cursor: auto;
    opacity: 0.3;
    &:hover {
      opacity: 0.3;
    }
  }
  & > img {
    width: 100%;
    height: 100%;
  }
}

.focusedPageButton {
  @extend .pageButton;
  background-color: var(--main-color);
  color: white;
  &:hover {
    color: white;
  }
}
