@import '@/styles/media.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  gap: 2.5rem;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  & > label {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 1.25rem;
    color: #4d5256;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.inputStyle {
  width: 100%;
  height: 4.5rem;
  padding-left: 1.25rem;
  padding-right: 1.5rem;
  border: 2px solid #a9afb3;
  border-radius: 8px;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--darkgray-color);
  &:focus {
    border-color: #4d5256;
    background-color: var(--gray-background);
    outline: none;
  }
}
.eyeImage {
  position: absolute;
  right: 2rem;
  top: 3.45rem;
  width: 1.5rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.button {
  width: 100%;
  height: 4.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: white;
  font-family: 'Pretendard';
  font-size: 1.5rem;
  cursor: pointer;
}

.disabledButton {
  @extend .button;
  cursor: auto;
  background-color: var(--darkgray-color);
  &:hover {
    opacity: 1;
  }
}

.errorMessage {
  position: absolute;
  top: 6.75rem;
  left: 0.5rem;
  min-height: 1.2rem;
  color: #f24147;
  font-family: 'Pretendard';
  font-size: 1rem;
}
