@import '@/media.scss';
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 12.375rem;
}
.lower {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-left: 11rem;
  background-color: #4d5256;
  color: white;
  & > p {
    font-size: 1.25rem;
    font-weight: 700;
  }
  @include mobile {
    padding-left: 5rem;
  }
}
