@import '@/media.scss';
.container {
  width: 100vw;
  min-height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
.logo {
  width: 20rem;
  margin-top: 5.25rem;
  margin-bottom: 2rem;
}
.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.25rem;
}
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  & > label {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 1.25rem;
    color: #4d5256;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
  & > input {
    width: 100%;
  }
  & > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.75rem;
    & > input {
      flex-grow: 1;
    }
  }
  & > .boxContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    width: 100%;
    height: 100%;
    margin-top: 0.75rem;
    & > span {
      flex: 0 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:hover {
        opacity: 0.8;
      }
      & > input {
        appearance: none;
        background-color: var(--gray-color);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 5px;
        margin: 0;
        margin-right: 0.25rem;
        cursor: pointer;
        &:checked {
          background-color: var(--main-color);
        }
      }
      & > label {
        font-size: 1rem;
        font-family: 'Pretendard';
        color: #4d5256;
        cursor: pointer;
      }
    }
  }
}
.inputStyle {
  height: 4.5rem;
  padding-left: 1.25rem;
  padding-right: 1.5rem;
  border: 2px solid #a9afb3;
  border-radius: 8px;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--darkgray-color);
  &:focus {
    border-color: #4d5256;
    background-color: var(--gray-background);
    outline: none;
  }
}
.buttonStyle {
  width: 8rem;
  border: 2px solid #a9afb3;
  border-radius: 8px;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 1.25rem;
  background-color: var(--gray-background);
  color: var(--darkgray-color);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.buttonStyleActive {
  @extend .buttonStyle;
  background-color: var(--main-color);
  border: none;
  color: white;
}
.eyeImage {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  width: 1.5rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.horizonLine {
  width: 100%;
  height: 1px;
  background-color: #a9afb3;
  margin-bottom: 2.5rem;
}
.termsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0.75rem;
  & > span {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover {
      opacity: 0.8;
    }
    & > input {
      appearance: none;
      background-color: var(--gray-color);
      width: 2rem;
      height: 2rem;
      border-radius: 5px;
      margin: 0;
      margin-right: 1.125rem;
      cursor: pointer;
      &:checked {
        background-color: var(--main-color);
      }
    }
    & > label {
      font-size: 1.25rem;
      font-family: 'Pretendard';
      color: #4d5256;
      cursor: pointer;
    }
  }
}
.termsButton {
  outline: none;
  border: none;
  background: transparent;
  font-family: 'Pretendard';
  color: var(--main-color);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @include mobile {
    zoom: 0.8;
  }
}
.signUpButton {
  width: 100%;
  height: 4rem;
  margin-bottom: 8rem;
  border: none;
  border-radius: 8px;
  background-color: var(--darkgray-color);
  font-size: 1.5rem;
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

.errorMessage {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  min-height: 1.2rem;
  color: #f24147;
  font-family: 'Pretendard';
  font-size: 1rem;
}
.correctMessage {
  @extend .errorMessage;
  color: #1bbf83;
}
