/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
@import './media.scss';

:root {
  --main-color: #ec6130;
  --gray-color: #d9d9d9;
  --darkgray-color: #878d91;
  --gray-background: #eaeeef;
  --background-color: #f8fafb;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'NanumSquareAcR';
  // font-family: 'Pretendard';
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 52.5%; // 1rem = 8.4px;
  @include tablet {
    font-size: 62.5%; // 1rem = 10px;
  }
  @include desktop {
    font-size: 80%; // 1rem = 12.8px;
    /*
      구현된 페이지가 생각보다 커서 기존 100% -> 80%로 축소
      1rem = 12.8px이지만 계산은 그대로 16px 기준으로 rem 계산할 것.
    */
  }
}
.over_hidden {
  overflow-y: hidden;
}
.swiper .swiper-pagination-bullet {
  background-color: var(--gray-color);
}
.swiper .swiper-pagination-bullet-active {
  background-color: #00c18c;
}
.swiper-button-next:after {
  position: absolute;
  left: 0;
  bottom: 0;
}

.ql-toolbar {
  position: sticky;
  z-index: 50;
}
.ql-container {
  overflow-y: scroll;
  padding-bottom: 3rem;
}
.ql-editor {
  & h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: 'NanumSquareAcB';
  }
  & h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'NanumSquareAcB';
  }
  & p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  & strong {
    font-family: 'NanumSquareAcB';
  }
  & ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  & ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  & li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
}
