.container {
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  padding: 0 3rem;
  margin: 0 auto;
}

.title {
  width: 100%;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}

.innerTitle {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  padding-top: 7.5rem;
  max-width: 1200px;
  height: 100%;
  color: black;
  font-family: 'Pretendard';
  & > h1 {
    display: flex;
    gap: 0.5rem;
  }

  & > div {
    display: flex;
    gap: 1rem;
    // justify-content: space-between;
    & > p {
      font-size: 1.25rem;
      font-weight: 400;
      & > span {
        font-weight: 200;
      }
    }
  }
  & > h1 {
    font-size: 2rem;
  }
}

.contentWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 0.5rem;
}

.content {
  @import '@/styles/editor.scss';
}

.commentWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.line {
  width: 100%;
  height: 2px;
  margin-bottom: 2rem;
  background: #e9ecef;
}

.buttonBox {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: -1rem;
  margin-bottom: 3rem;

  & > button {
    background-color: white;
    color: var(--darkgray-color);
    font-family: 'NanumSquareAcB';
    font-size: 1.375rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--darkgray-color);
    border-radius: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.link {
  text-align: center;
  margin-bottom: 50px;

  & > a {
    font-size: 1.375rem;
    height: 2.5rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color);
  }
}
